html, body {
	min-height: 100%;
}

body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
	font: 0.5em;
}

h1, h2, h3, h4, h5, p, a, textarea, input, button {
	font-family: 'Open Sans', sans-serif;
}

input, button {
	-webkit-appearance: none;
}

#logo {
	float: left;
}

#logo::after {
	display: table;
	content: '';
	clear: left;
}

.overlay {
	display: none;
	z-index: 9998;
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(196, 196, 196, 0.85);
}

.wrapper {
	float: left;
	width: 90%;
	margin: 20px 5%;
}

.table_wrapper {
	display: block;
	float: right;
	clear: both;
}

.table_wrapper.staff_cal {
	display: inline-block;
	width: 45%;
}

.table_wrapper.student_cal {
	width: 100%;
	margin-top: 10px;
}

.clmonth {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	white-space: nowrap;
}

.clmonth caption {
	width: 100%;
	font-weight: normal;
	padding: 20px 0;
	font-size: 2.5em;
	background: none repeat scroll 0% 0% #bba461;
	border-radius: 30px 30px 0px 0px;
	border-bottom: 1px solid #fff;
	color: #fff;
	height: 55px;
}

.clmonth caption a {
	display: block;
	height: 100%;
	width: 35px;
	background: url('/project/images/arrows.png') left no-repeat;
}

.clmonth caption .previous_link {
	float: left;
	margin-left: 20px;
}

.clmonth caption .next_link {
	float: right;
	margin-right: 20px;
	background-position: right;
}

.clmonth tbody,
.clmonth tr {
	width: 100%;
}

.clmonth th {
	width: 14.285%;
	padding: 1.6em 0;
	background-color: #1a2a4f;
	color: #fff;
	box-shadow: 0 5px #bba461;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clmonth td {
	width: 14.285%;
	white-space: nowrap;
 	overflow: hidden;
	border: 1px solid #fff;
	text-align: center;
	font-size: 2em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clmonth td.previous, .clmonth td.next {
	background-color: #f6f6f6; 
	color: #c6c6c6;
	min-height: 96px;
}

.clmonth ul {
	list-style-type: none;
	margin: 0;
	padding-left: 1em;
	padding-right: 0.6em;
}

.clmonth li {
	margin-bottom: 1em;
}

.last {
	color: #FB8B8B;
	background: #FB8B8B;
	border: none;
}

.clmonth td.available {
	background-color: #bba461;
	color: #fff;
}

.clmonth td.available a {
	display: block;
	color: #fff;
	text-decoration: none;
}

.clmonth td.unavailable {
	color: #BFBFBF;
	background: #DDE4E6;
}

.clmonth td.weekend {
	background: #485572;
	color: #fff;
}

.clmonth td span.date {
	display: block;
	padding: 0.5em 0;
}

.clmonth td span.weekday {
	display: none;
}

#events #event_header {
	font-weight: normal;
	padding: 20px 10px;
	background: none repeat scroll 0% 0% #bba461;
	border-radius: 30px 30px 0px 0px;
	color: #fff;
}

#event_header #header_starttime,
#event_header #header_endtime {
	display: inline-block;
	width: 25%;
	text-align: center;
}

#event_header #header_time {
	display: none;
}

#event_times {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #BFBFBF;
	border-top: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#event_times .timeslot {
	width: 100%;
	float: left;
	border-bottom: 1px solid #BFBFBF;
	padding: 10px 8px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#event_times .timeslot .start_time,
#event_times .timeslot .end_time {
	display: inline-block;
	width: 25%;
	text-align: center;
}

#event_times .timeslot .choose_time {
	display: inline-block;
	float: right;
	margin-right: 5%;
	background: url('/project/images/add.png') center no-repeat;
	background-size: 100% 100%;
	height: 20px;
	width: 20px;
}
#event_times .timeslot .choose_time:hover {
	cursor: pointer;
}
#event_times .timeslot.selected .choose_time {
	background: url('/project/images/remove.png') center no-repeat;
	background-size: 100% 100%;
}

#buttons {
	float: right;
}

button,
input[type="submit"],
#logout a,
a.button {
	float: right;
	margin-top: 10px;
	background: #bba461;
	border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 6px 10px;
    text-align: center;
    font-size: 0.7em;
    text-decoration: none;
}

button:hover,
input[type="submit"]:hover,
#logout a:hover,
a.button:hover {
	cursor: pointer;
	background: #b39a4f;
}

#logout {
	display: inline-block;
	margin-left: 10px;
}

#logout a {
	text-decoration: none;
	margin-top: 0;
}

#buttons button {
	float: left;
}

#buttons button#cancel,
#buttons button#back {
	margin-right: 10px;
	background: #FF4747;
}

#buttons button#cancel:hover,
#buttons button#back:hover {
	background: #FF1919;
}

#popup {
	z-index: 9999;
	background: #FFFFFF;
	padding: 20px 25px;
	width: 50%;
    position: absolute;
    top: 2%;
    left: 25%;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#popup #popup-header {
	float: left;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 10px 5px;
	background: #bba461;
	color: #fff;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#popup form {
	clear: both;
	margin-top: 20px;
}

#popup form::after {
	display: table;
	content: '';
	clear: both;
}

#popup .close-popup {
	float: right;
	margin: -20px;
}

#popup .close-popup img {
	width: 15px;
	height: auto;
}

#popup .form_row {
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #efefef;
	float: left;
	width: 100%;
}

#popup .form_row.hidden {
	display: none;
}

#popup form li:last-of-type {
	padding-bottom: 15px;
	border-bottom: 1px solid #333333;
}

#popup .form_row .form_title {
	display: inline-block;
	float: left;
	width: 40%;
	margin: 5px 5% 0 0;
	text-transform: uppercase;
	font-size: 0.9em;
	text-align: center;
}

#popup .form_row input,
#popup .form_row textarea {
	height: 35px; 
    padding: 5px 30px 5px 8px;
    width: 50%;
    float: left;
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#popup .form_row textarea {
	height: auto;
}
#popup .form_row input:focus,
#popup .form_row textarea:focus {
	background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
    outline: none;
}
#popup .form_row input:required, 
#popup .form_row textarea:required {
    background: #fff url('/project/images/red_asterisk.png') no-repeat 98% center;
    background-size: 7px 7px;
}
#popup .form_row input:focus:invalid, 
#popup .form_row textarea:focus:invalid { /* when a field is considered invalid by the browser */
    background: #fff url('/project/images/invalid.png') no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
#popup .form_row input:required:valid, 
#popup .form_row textarea:required:valid { /* when a field is considered valid by the browser */
    background: #fff url('/project/images/valid.png') no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
#popup .form_row input[readonly="readonly"],
#popup .form_row textarea[readonly="readonly"] {
	border: 0;
	box-shadow: none;
	background: #fff;
}

#popup .form_row input[type=time] {
	padding-right: 30px;
}


#popup form input[type="submit"]:hover {
   	background: #b39a4f;
    cursor: pointer; 
}

/* Header Styling */
#header {
	float: left;
	display: block;
	width: 100%;
  	padding: 20px 5%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #f4f4f4;
}

#header #logo img {
	display: block;
	float: left;
	width: 180px;
}

/* Profile Header Styling */
#profile {
	float: right;
	display: block;
}

#profile #welcome {
	display: inline-block;
	float: left;
	padding: 2.5px 0;
}

/* Search Styling */
#searchform {
	float: right;
	display: block;
	clear: right;
	margin-top: 10px;
}

#searchform input[type=text] {
	display: block;
	height: 35px; 
	width: 160px;
    padding: 5px 8px;
    float: left;
    border: 1px solid #aaa;
    border-right: 0;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px 0 0 2px;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

#searchform button[type=submit] {
	background: #b2b2b2 url('/project/images/search.png') no-repeat center;
	background-size: 20px;
	height: 35px;
	width: 40px;
	float: left;
	display: block;
	margin: 0;
	border-radius: 0;
	border: 1px solid #aaa;
	border-left: 0;
	padding: 0;
}

#searchform button[type=submit]:hover {
	background: #4a4a49 url('/project/images/search.png') no-repeat center;
	background-size: 20px;
}

/* Event listing view button */
#event_times .timeslot .view_event,
#event_times .timeslot .delete_event,
#event_times .timeslot .delay_event {
	margin-top: 0;
}
#event_times .timeslot .delete_event {
	background: #FF4747;
	margin-left: 10px;
}
#event_times .timeslot .delete_event:hover {
	background: #FF1919;
}

#event_times .timeslot .delay_event {
	border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
}

/* Timeslot selectbox */
#event_times .timeslot select {
	float: right;
	background: #1a2a4f url('/project/images/dropdown.png') no-repeat 95%;
	border: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
    color: white;
    font-weight: bold;
    padding: 6px 30px 6px 10px;
    text-align: center;
    font-size: 0.75em;
    outline: none;
    margin-left: 10px;
}
#event_times .timeslot select:hover {
	cursor: pointer;
}

/* Staff Controls */
#staff_controls {
	display: block;
	float: right;
	margin-bottom: 20px;
}

/* Login Form */
body.login {
	background: #1a2a4f;
}

#login_form {
	padding: 40px;
  	width: 30%;
  	background-color: #F7F7F7;
  	margin: 10px auto;
  	border-radius: 2px;
  	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  	overflow: hidden;
}

#login_form #login_logo {
	display: block;
	width: 200px;
	height: auto;
	margin: 0 auto;
}

#login_form h1 {
	font-weight: 100;
  	text-align: center;
  	font-size: 1.8em;
}

#login_form form:after {
	clear: both;
	display: table;
	content: '';
}

#login_form form input[type=text],
#login_form form input[type=password] {
	height: 40px; 
    padding: 10px;
    width: 100%;
    float: left;
    clear: both;
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    margin-bottom: 10px;
    font-size: 0.9em;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#login_form form input[type=text]:focus,
#login_form form input[type=password]:focus {
	background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
    outline: none;
}

#login_form form input[type=text]:focus:invalid,
#login_form form input[type=password]:focus:invalid { /* when a field is considered invalid by the browser */
    background: #fff url('/project/images/invalid.png') no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

#login_form form input[type=text]:required:valid,
#login_form form input[type=password]:required:valid { /* when a field is considered valid by the browser */
    background: #fff url('/project/images/valid.png') no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

#login_form form input[type=submit] {
	float: left;
	width: 100%;
	clear: both;
	text-align: center;
	font-size: 1em;
	font-weight: normal;
	background: #bba461;
}

#login_form .login-help {
	display: block;
	clear: both;
	margin: 10px auto 0;
	width: 100px;
}

#login_form .login-help a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  opacity: 0.6;
  transition: opacity ease 0.5s;
  font-size: 0.8em;
}

#login_form .login-help a:hover {
  opacity: 1;
}

#login_form .error {
	display: block;
	float: left;
	clear: both;
	color: #FF3333;
	margin: 10px 0 20px;
}

#delay_button {
	margin-right: 10px;
}


/* Google Connect Button */
#google_login {
	display: block;
	float: right;
	clear: right;
	text-decoration: none;
	color: #fff;
	background: #3078f0 url('/project/images/google.png') no-repeat left;
	padding: 5px 10px 5px 35px;
	font-size: 0.8em;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-left: 10px;
}

/* User's Profile Header */
#profile_header {
	width: 100%;
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
}

/* Search Results */
#search_results {
	display: block;
}

.search_result {
	display: block;
	clear: both;
	width: 100%;
}

.search_result a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
	border-bottom: 2px solid #ddd;
	background: #485572;
}

.search_result a:hover {
	background: #1a2a4f;
}

.search_result:last-child a {
	border-bottom: 0;
}

.search_result a::after {
	display: table;
	content: '';
	clear: both;
}

.search_result .staff_name {
	float: left;
	display: inline-block;
	width: 85%;
}

.search_result .room {
	float: right;
	display: inline-block;
	width: 15%;
	text-align: right;
}

@media (max-width: 979px) {
	#login_form {
		width: 50%;
	}

	.table_wrapper.staff_cal {
		clear: both;
		display: block;
		width: 100%;
	}

	#popup {
		width: 70%;
		left: 15%;
	}
}

@media (max-width: 768px) {
	#login_form {
		width: 60%;
	}

	#popup {
		width: 80%;
		left: 10%;
	}

	#event_header #header_starttime,
	#event_header #header_endtime {
		display: none;
	}

	#event_header #header_time {
		display: block;
		width: 20%;
		text-align: center;
	}

	#event_times .timeslot .start_time, 
	#event_times .timeslot .end_time {
		display: block;
		float: left;
		clear: left;
		width: 20%;
	}

	#event_times .timeslot .dash {
		display: block;
		float: left;
		clear: left;
		width: 20%;
		text-align: center;
	}

	#event_times .timeslot .delete_event,
	#event_times .timeslot select {
		margin-left: 5px;
	}

	#events #event_times .timeslot .delay_event,
	#events #event_times .timeslot .view_event,
	#events #event_times .timeslot .delete_event,
	#events #event_times .timeslot select,
	#event_times .timeslot .choose_time {
		margin-top: -25px;
	}

	.search_result .staff_name {
		width: 75%;
	}

	.search_result .room {
		width: 25%;
	}

}

@media (max-width: 480px) {

	#logo {
		display: block;
		float: none;
		margin: 0 auto 20px auto;
		clear: both;
	}

	#header #logo img {
		display: block;
		float: none;
		margin: 0 auto;
	}

	#profile {
		margin-bottom: 20px;
	}

	#profile_header {
		margin-bottom: 25px;
	}

	#searchform {
		display: block;
		clear: both;
		float: none;
		width: 300px;
		margin: 0 auto;
	}

	#searchform::after {
		display: table;
		content: '';
		clear: both;
	}

	#searchform input[type=text] {
		width: 260px;
	}

	#login_form {
		width: 80%;
		margin: 0;
	}

	#popup {
		width: 100%;
		left: 0;
	}
	.clmonth caption {
		font-size: 1.6em;
		padding: 10px 0;
	}
	.clmonth caption .month {
		display: inline-block;
		padding: 10px 0;
	}
	.clmonth tr:first-child {
		display: none;
	}
	.clmonth td {
		float: left;
		display: block;
		width: 100%;
		font-size: 1.2em;
		text-align: left;
		padding: 10px;
	}
	.clmonth td a {
		display: block;
		width: 100%;
		margin: -10px;
		padding: 10px;
	}
	.clmonth td span.date {
		padding: 0;
		display: inline-block;
		margin-right: 10px;
	}
	.clmonth td span.weekday {
		display: inline-block;
	}
	.clmonth td.previous, .clmonth td.next {
		display: none;
	}

	.search_result .staff_name {
		width: 65%;
	}

	.search_result .room {
		width: 35%;
	}
}